#root {
  min-width: 100vw;
}

.App  {
  margin: 0 auto;
  padding: 30px 40px;
}

.logo {
  align-self: flex-start;
  height: max(1.65rem, 3.2vw); 
  margin-bottom: 2.6rem;
}

.hero {
  width: clamp(16rem, 52vw, 42rem);
  /* width: min(80vw, 500px); */
  margin-bottom: 2.8rem;
}

.btn-register {
  font-size: 0.8rem;
  background-color: var(--white);
  padding: 8px 60px;
  border-radius: 50px;
  color: var(--purple-700);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-register:hover {
  background-color: var(--magenta-400);
  color: var(--white);
}

.icon {
  border: 1.2px solid var(--white);
  height: 28px;
  width: 28px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: var(--white);
}

.icon:hover {
  border-color: var(--magenta-400);
  color: var(--magenta-400);
}

@media (min-width: 678px) and (max-width: 1090px) {
  .hero {
    align-self: center;
  }
}

@media (min-width: 769px) {
  .App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 60px;
  }

  .logo {
    margin: 0;
  }

  .hero {
    margin: 0;
    align-self: start;
  }

  .btn-register {
    padding: 10px 45px;
  }
}