@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

:root {
  /* ===== Colors ===== */
  --purple-700: hsl(257, 40%, 49%);
  --magenta-400: hsl(300, 69%, 71%);
  --white: hsl(0, 0%, 91%);

  /* ===== Typography ===== */
  --font-heading: "Poppins", sans-serif;
  --font-body: "Open Sans", sans-serif;

  --font-weight-regular: 400;
  --font-weight-semibold: 600;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: var(--font-body);
  font-weight: var(--font-weight-regular);
  background-image: url(/public/images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--purple-700);
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  max-width: 400px;
  font-family: var(--font-heading);
  font-weight: var(--font-weight-semibold);
  font-size: max(1.2rem, 2.5vw);
  text-align: center;
  color: var(--white);
  margin-bottom: 1rem;
}

p {
  max-width: 480px;
  color: var(--white);
  text-align: center;
  font-size: max(0.8rem, 1.2vw);
  margin-bottom: 1.5rem;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

@media (min-width: 678px) and (max-width: 1090px) {
  body {
    background-size: cover;
  }
}

@media (min-width: 769px) {
  body {
    background-image: url(/public/images/bg-desktop.svg);
  }

  main {
    flex-direction: row;
    gap: 40px;
  }

  h1,
  p {
    text-align: start;
  }

  footer {
    justify-content: end;
  }
}

@media (min-width: 842px) {
  section {
    padding-top: 40px;
    align-self: start;
    align-items: start;
    margin: 0;
  }
}